{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Conten-Type" content="text/html"; charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Juan Carlos Pua</title>
	 
	<!-- UTILIZAR LOS ICONOS D MATERIALICECSS CSS-->
 	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

 	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

 	<!-- TINYMCE EDITOR DE TEXTO PATA BLOGs -->
    <link rel="stylesheet" href="{% static 'tinymce/css/prism.css'%}">
    <link href="{% static '/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>

    


</head>
<body>
<div class="container section">
	<br>
	<p class="center titulo light">Proyecto</p>
	<h3 class="center titulos">{{proyecto.titulo}}</h3>
	<br><br>
	<p>{{proyecto.fecha_publicacion}}</p>
	<p class="aboutme">{{proyecto.contenido|safe}}</p>
	<img src="{{proyecto.imagen.url}}">
</div>	



<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script src="{% static '/js/init.js' %}"></script>
<!-- Compiled and minified JavaScript -->
<script src="{% static 'tinymce/js/prism.js' %}"></script>


</body>
</html>